<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Uttara Dynamic Club</title>
        <link rel="icon" href="{% static 'base/images/logo.png' %}" type="image/png">

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'base/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'base/css/templatemo-tiya-golf-club.css' %}" rel="stylesheet">
        
    </head>
    
    <body>
        {% include 'base/navbar.html' %}
        {% block content %}
        {% endblock %}
        <br>
        {% include 'base/footer.html' %}

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'base/js/click-scroll.js' %}"></script>
    <script src="{% static 'base/js/animated-headline.js' %}"></script>
    <script src="{% static 'base/js/modernizr.js' %}"></script>
    <script src="{% static 'base/js/custom.js' %}"></script>
    
    </body>
</html>